<?xml version="1.0"?>
<appSettings>
    <!--Quartz 作业服务器的地址-->
    <add key="QuartzServer" value="localhost"/>
    <add key="QuartzPort" value="556"/>

    <!--Quartz 作业服务器的名称-->
    <add key="QuartzRemoteName" value="TaskManager"/>
    <!--Quartz 作业服务器的远程连接协议-->
    <add key="QuartzScheme" value="tcp"/>

</appSettings>
